<mat-toolbar color="primary">
  <button *ngIf="!options.backEnabled" mat-icon-button (click)="onMenuClick()">
    <i class="material-icons">menu</i>
  </button>

  <button *ngIf="options.backEnabled" mat-icon-button (click)="onNavigateBack()">
    <i class="material-icons">arrow_back</i>
  </button>

  <span class="toolbarTitle">{{options.title}}</span>

  <button mat-icon-button *ngFor="let action of options.actions" (click)="action.runAction()">
    <i class="material-icons">{{action.icon}}</i>
  </button>
</mat-toolbar>
