<!--dtca-contact-list></dtca-contact-list-->

<mat-drawer-container class="example-container" [hasBackdrop]>
  <mat-drawer #drawer >I'm a drawer</mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="primary" class="toolbar-details">
      <mat-toolbar-row>
        <button mat-fab (click)="drawer.toggle()" class="button-details">
          <mat-icon>menu</mat-icon>
        </button>
        <span>ContactsApp</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>



